/* HeroesComponent's private CSS styles */

.heroes {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.heroes li {
  display: flex;
  flex-basis: 20%;
  min-width: 150px;
}

.heroes a {
  text-align: center;
  text-decoration: none;
  color: #333;
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em .5em .5em 0;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 1.8em;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes a.selected {
  background-color: #505050;
  color: white;
}

.heroes a.selected:hover {
  background-color: #505050;
  color: white;
}

.heroes a.selected:active {
  background-color: black;
  color: white;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.7em 0.6em 0.6em 0.6em;
  background-color: #405061;
  line-height: 1em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}

.heroes .name {
  align-self: center;
}
